.footer-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__logo {
    margin-bottom: 25px;
  }

  &__phone {
    font: {
      family: $base-font;
      size: 16px;
      weight: 400;
    }

    color: $text-black;
    text-decoration: none;
    line-height: 1.2;

    padding-left: 60px;
  }
}
