.intro-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 160px;
  height: 160px;

  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 30px;

  margin-right: 40px;

  background-color: transparent;

  border: 2px solid $border-color;

  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: transparent;
    border: 1px solid #fff;

    top: -10px;
    right: -10px;

    width: 160px;
    height: 160px;

    z-index: -1;
  }

  &__title {
    font: {
      family: $base-font;
      size: 18px;
      weight: 600;
    }

    color: $text-black;
    line-height: 24px;

    margin-top: 15px;
  }

  &__description {
    font: {
      family: $base-font;
      size: 18px;
      weight: 400;
    }

    color: $text-black;
    line-height: 24px;

    margin: 0;
  }
}
