.main-contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;

  width: 100%;

  &__wrapper {
    @include container;
  }
}
