.navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 215px;

  &__title {
    font: {
      family: $base-font;
      size: 16px;
      weight: 400;
    }

    color: $text-blue;
    line-height: 1.2;

    letter-spacing: 3.6px;
  }
}
