$bg-white: #ffffff;
$bg-black: #393939;
$bg-gray: #eeeeee;

$text-black: #393939;
$text-white: #ffffff;
$text-blue: #0e7aff;
$text-gray: #d0d0d0;

$border-color: #0e7aff;
$border-white: #ffffff;
$hover-color: #0e7aff;
$hover-white-color: #034393;
$active-color: #ff0000;

$list-style: #0e7aff;

$base-font: "Exo2", sans-serif;
$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

/*Font sizes*/
$main-title: 36px;
$secondary-title: 24px;
$btn-size: 16px;
